certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
dotenv==0.9.9
idna==3.11
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.2
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.0
responses==0.26.0
urllib3==2.6.3